################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NotesAppAPI/.vs
/NotesAppAPI/bin/Debug/net8.0
